<main id="main" class="main">
  <div class="col">
      <div>
          <h1>Mes Tache A faire</h1>
      </div>

      <div>
        <form>
          <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert" *ngIf="errorMessage.length > 0">
            <span *ngFor="let msg of errorMessage">{{msg}} <br></span>
          </div>
          <div class="row">
              <div class="col">
              <input type="text" class="form-control" placeholder="Ajouter une tache" name="libelleTodo" [(ngModel)]="todo.libelleTodo">
              </div>
              <div class="col">
              <input type="text" class="form-control" placeholder="Description" name="descriptionTodo" [(ngModel)]="todo.descriptionTodo">
              </div>
              <div class="col">
                <input type="date" min="{{currentDate | date:'yyyy-MM-dd'}}"class="form-control" name="dateTodo" [(ngModel)]="todo.dateTodo">
              </div>
              <div class="col">
              <button type="submit" class="btn btn-primary" (click)="ajouter()">Ajouter</button>
              </div>
          </div>
        </form>
      </div>

      <div>
        <table class="table table-hover mt-5">
          <tbody>
            <tr *ngFor="let t of listTodo">
              <td>{{t.libelleTodo}}</td>
              <td>{{t.descriptionTodo}}</td>
              <td>{{t.dateTodo}}</td>
              <td>
                <button class="btn btn-success me-1">Terminé</button>
                <button class="btn btn-warning me-1">Modifier</button>
                <button class="btn btn-danger me-1">Supprimer</button>
              </td>

            </tr>
          </tbody>
        </table>
      </div>

  </div>
</main>

