  <div class="col">
      <div>
          <h1>Mes Tache A faire</h1>
      </div>

      <div>
        <form>
          <div class="alert alert-danger bg-danger text-light border-0 alert-dismissible fade show" role="alert" *ngIf="errorMessage.length > 0">
            <span *ngFor="let msg of errorMessage">{{msg}} <br></span>
          </div>
          <div class="row">
              <div class="col">
              <input type="text" class="form-control" placeholder="Ajouter une tache" name="libelleTodo" [(ngModel)]="todo.libelleTodo">
              </div>
              <div class="col">
              <input type="text" class="form-control" placeholder="Description" name="descriptionTodo" [(ngModel)]="todo.descriptionTodo">
              </div>
              <div class="col">
                <input type="datetime-local" min="{{currentDate | date:'yyyy-MM-dd'}}T00:00" class="form-control" name="dateTodo" [(ngModel)]="todo.dateTodo">
              </div>
              <div class="col">
              <button type="submit" class="btn btn-primary" (click)="ajouter()">Ajouter</button>
              </div>
          </div>
        </form>
      </div>

      <div>
        <table class="table table-hover mt-5" id="htmlData">
          <tbody>
            <!-- Button Pdf-->
            <div class="row">
              <div class="col-md-6">
                <button type="button" class="btn btn-outline-primary" (click)="pdf('open')"><i class="bx bxs-file-pdf"></i>Ouvrir PDF</button>
              </div>
              <div class="col-md-6">
                <button type="button" class="btn btn-outline-success" (click)="pdf('download')"><i class="bx bxs-file-pdf"></i>Exporter PDF</button>
              </div>
            </div>
            <!-- Button Pdf-->

            <tr *ngFor="let t of listTodo">
              <td>
                <button (click)="importat(t)" *ngIf="t.important == false" type="button" class="btn btn-outline-dark">
                  <i class="ri-star-line"></i>
                </button>
                <button (click)="importat(t)" *ngIf="t.important == true" type="button" class="btn btn-outline-warning bg-warning">
                  <i class="ri-star-line text-dark"></i>
                </button>
              </td>
              <td>{{t.libelleTodo}}</td>
              <td>{{t.descriptionTodo}}</td>
              <td>{{t.dateTodo}}</td>
              <td>
                <button class="btn btn-success me-1" (click)="termine(t)">Terminé</button>
                <button class="btn btn-warning me-1">Modifier</button>
                <button type="button" class="btn btn-link text-danger" data-bs-toggle="modal" [attr.data-bs-target]="'#modalDeleteArt'+t.id">
                  <i class="bi bi-trash-fill"></i>vers corbeille
                </button>
              </td>
              <div class="modal fade" id="modalDeleteArt{{t.id}}" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                    <h5 class="modal-title" id="staticBackdropLabel">Confirmation de la suppression</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        Etes-vous sur de vouloir supprimer cette tache ?
                    </div>
                    <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="bi bi-slash-circle"></i> Annuler</button>
                    <button type="button" class="btn btn-danger" data-bs-dismiss="modal" (click)="confirmerEtSupprimerTodo(t)"><i class="bi bi-trash-fill"></i> Supprimer</button>
                    </div>
                </div>
                </div>
            </div>

            </tr>
          </tbody>
        </table>
      </div>
  </div>

  <!-- Modal -->

  
